// Grid Containers

$nbColumns: 12;
$gutter: 15px;

$mobile-container:                              620px;
$tablet-container:                              748px;
$desktop-container:                             940px;
$xl-container:                                  1180px;

// Responsive Breakpoints
$mobile-breakpoint:                             ($mobile-container + 20);
$tablet-breakpoint:                             ($tablet-container + 20);
$desktop-breakpoint:                            ($desktop-container + 20);
$xl-breakpoint:                                 ($xl-container + 20);


// Micro Clearfix - http://nicolasgallagher.com/micro-clearfix-hack/
.clear:before, .clear:after { content: " "; display: table; } .clear:after { clear: both; }
.row:before, .row:after { content: ""; display: table; } .row:after { clear: both; }

.row {
  position: relative;
  margin-left: -$gutter;
  margin-right: -$gutter;
}

.container {
  padding-left: $gutter;
  padding-right: $gutter;
  margin-left: auto;
  margin-right: auto;
}
.full-width {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}


.col{
  position: relative;
  float: left;
  padding-left: $gutter;
  padding-right: $gutter;
}

@for $i from 1 through $nbColumns {
  .col-#{$i}{
    width: ($i / $nbColumns) * 100%;
  }
  .col-push-#{$i}{
    left: ($i / $nbColumns) * 100%;
  }
  .col-pull-#{$i}{
    left: -($i / $nbColumns) * 100%;
  }
}

@media only screen and (min-width: $mobile-breakpoint) {
  .container{
    max-width: $mobile-container;
  }
  @for $i from 1 through $nbColumns {
    .sm-#{$i}{
      width: ($i / $nbColumns) * 100%;
    }
    .sm-push-#{$i}{
      left: ($i / $nbColumns) * 100%;
    }
    .sm-pull-#{$i}{
      left: -($i / $nbColumns) * 100%;
    }
  }
  .hide-lg, .hide-xl, .show-sm, .show-md { display: block; }
  .hide-sm, .show-lg, .show-xl { display: none; }
}
@media only screen and (min-width: $tablet-breakpoint) {
    .container{
        max-width: $tablet-container;
    }
   @for $i from 1 through $nbColumns {
      .md-#{$i}{
        width: ($i / $nbColumns) * 100%;
      }
      .md-push-#{$i}{
        left: ($i / $nbColumns) * 100%;
      }
      .md-pull-#{$i}{
        left: -($i / $nbColumns) * 100%;
      }
    } 
    .show-sm, .hide-md{display: none;}
    .show-md{display: block;}
    .md-no-padding { padding: 0; }
    .md-no-push, .md-no-pull { left: 0; }
}

@media only screen and (min-width: $desktop-breakpoint) {
    .container{
        max-width: $desktop-container;
    }

   @for $i from 1 through $nbColumns {
      .lg-#{$i}{
        width: ($i / $nbColumns) * 100%;
      }
      .lg-push-#{$i}{
        left: ($i / $nbColumns) * 100%;
      }
      .lg-pull-#{$i}{
        left: -($i / $nbColumns) * 100%;
      }
    } 
    .show-sm, .show-md, .hide-lg {display: none;}
    .show-lg{display: block;}
    .lg-no-padding { padding: 0; }
    .lg-no-push, .lg-no-pull { left: 0; }
}
@media only screen and (min-width: $xl-breakpoint) {
    .container{
        max-width: $xl-container;
    }

   @for $i from 1 through $nbColumns {
      .xl-#{$i}{
        width: ($i / $nbColumns) * 100%;
      }
      .xl-push-#{$i}{
        left: ($i / $nbColumns) * 100%;
      }
      .xl-pull-#{$i}{
        left: -($i / $nbColumns) * 100%;
      }
    } 
    .show-sm, .show-md, .show-lg, .hide-xl{display: none;}
    .show-xl{display: block;}
    .xl-no-padding { padding: 0; }
    .xl-no-push, .xl-no-pull { left: 0; }
}


